.colab {
    width: 280px;
}

.colab .cabecalho {
    background-color: #f0f0f0;
    border-radius: 10px 10px 0px 0px;
}

.colab img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.colab .rodape {
    background: #ffffff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 90px;
    padding-bottom: 40px;
}

.colab .rodape h4 {
    color: #6278f7;
    font-size: 18px;
    line-height: 22px;
    
}